<header class="site-header">

<div class="left">
  <a class='noext twittericon' target="_blank" href="http://twitter.com/@legerdemain"><i class="fa fa-twitter"></i></a>
  <a class="noext gplusicon" target="_blank" href="https://plus.google.com/u/0/+JonasLuster"><i class="fa fa-google-plus-square"></i></a>
</div>

<div class="right">
  <h1 class='site'>wand'rin fool</h1>
  <h2 class='site'>the adventures of mikka, a very foolish human being</h2>
</div>

<div style="clear: both;">

</div>
</header>
